<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <script src="/_bower_components/jquery/jquery.min.js"></script>


    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


        
  </head>

  <body class="bg-gray"><!--Conditional based on page?-->
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="h_wrap">
    <header id="header-primary" class="header-primary">
        <div id="logo">
            <img src="/assets/img/mw-full.png" alt="Maurice Ward Art Handling"/>
            <!--<a href="/">
                <div id="mark"><img src="/assets/img/mw.png"></div>
                <div id="wordmark">
                    <strong>Maurice Ward</strong><br />
                    Art Handling
                </div>
            </a>-->
        </div>
        <div id="nav-wrap">
            <nav id="nav-primary" class="nav-primary">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="services"><a href="/services">Services</a></li>
                    <li class="products"><a href="/products" id="#products">Products</a></li>
                    <li><a href="/news">News</a></li>
                </ul>
            </nav>
            <div id="social" class="">
                <ul>
                    <li><a href=""><span class="icon-facebook"></span></a></li>
                    <li><a href=""><span class="icon-twitter"></a></li>
                    <li><a href="">EN <span id="toggle_lang">&#9662;</span></a></li>
                </ul>
            </div>
    

        </div>

    </header>
    </div>
    

        <div id="products">
            <ul>
                <li>
                    <a href=""><h6><strong>AH</strong> S01</h6>
                    <p>International Transport</p></a>
                </li>
                <li>
                    <a href=""><h6><strong>AH</strong> S01</h6>
                    <p>International Transport</p></a>
                </li>
                <li>
                    <a href=""><h6><strong>AH</strong> S01</h6>
                    <p>International Transport</p></a>
                </li>
                <li>
                    <a href=""><h6><strong>AH</strong> S01</h6>
                    <p>International Transport</p></a>
                </li>
                <li>
                    <a href=""><h6><strong>AH</strong> S01</h6>
                    <p>International Transport</p></a>
                </li>
            </ul>
        </div>
    

    <div id="c_wrap"><!-- If about then class of bg-white -->
    <section id="content-primary" class="content-primary">
      {{ content }}
    </section>
    </div>

    <footer id="footer-primary" class="footer-primary">
        <div id="footer1"><div id="plane"></div></div>
        <div id="footer2">
            <p id="name"><strong>Maurice Ward<br />
            Group<br /></strong>
            Estd. 1968<br /></p>

            <h5>Inspired by Pioneers.<br />
            Run by Independents.<br />
            Managed with Integrity.</h5>
        </div>
        <div id="footer3">
            <div class="contact">
                <div id="c1">
                    <strong>Maurice Ward Art Handling<br />
                    Contact details:</strong>
                </div>
                <div id="c2">
                    <a href=""><span class="icon-acc"></span> &nbsp; Accreditation</a>
                </div>
            </div>
            <div class="contact">
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. <a href="mailto:movingart@mauriceward.com">movingart@mauriceward.com</a>
                 </div>
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. <a href="mailto:movingart@mauriceward.com">movingart@mauriceward.com</a>
                 </div>
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. <a href="mailto:movingart@mauriceward.com">movingart@mauriceward.com</a>
                 </div>
            </div>
        </div>
    </footer>

    <!--[if lte IE 8]>
      {% include scripts-ie8.html %}
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
<script>
$(document).ready(function () {
    var planes = ['p1', 'p2', 'p3', 'p4', 'p5'];
    var funk = Math.floor(Math.random() * planes.length);
    $('#plane').removeClass().addClass(planes[funk]);
});

</script>
<script>
$(document).ready(function() {
                  
$('li.products, li.services').on('mouseenter', function(){
  var link = this.getAttribute('class');
  $('#products, #services').removeClass();
  $('#'+link).addClass('active');
  closeMenus(1500);
});

closeMenus(1500);

function closeMenus(delay){
  $('#products, #services').off().on('mouseleave', function(){
    setTimeout(function(){
       $('#products, #services').removeClass();
    }, delay);
    console.log('fired');
  });
}
});
</script>

</body>
</html>
