<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
   
        
  </head>

  <body class="bg-gray"><!--Conditional based on page?-->
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header id="header-primary" class="header-primary">
    <div id="logo">
        <div id="mark"><img src="x"></div>
        <div id="wordmark"><strong>Maurice Ward</strong><br />
        Art Handling
    </div>
    </div>
     <nav id="nav-primary" class="nav-primary">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    <div id="social" class="">
        <ul>
            <li><a href="">F</a></li>
            <li><a href="">T</a></li>
            <li><a href="">EN.</a></li>
        </ul>
    </div>
    </header>



    <section id="content-primary" class="content-primary">
      {{ content }}
    </section>

    <footer id="footer-primary" class="footer-primary">
        <div id="footer1"><img src="xxx"/></div>
        <div id="footer2">
            <strong>Maurice Ward<br />
            Group<br /></strong>
            Estd. 1968<br />

            <h5>Inspired by Pioneers.<br />
            Run by Independents.<br />
            Managed with Integrity.</h5>
        </div>
        <div id="footer3">
            <div class="contact">
                <div id="c1">
                    <strong>Maurice Ward Art Handling</strong><br />
                    Contact details:
                </div>
                <div id="c2">
                    Accreditation
                </div>
            </div>
            <div class="contact">
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. movingart@mauriceward.com
                 </div>
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. movingart@mauriceward.com
                 </div>
                <div class="c3">
                    <strong>Dublin:</strong><br />
                    Maurice Ward + Co. Ltd.<br />
                    Unit J 10, Swords Business Park<br />
                    Swords, Co. Dublin<br />
                    Rep. of Ireland.<br />
                    <br />
                    T. (+353) 1 840 9099<br />
                    F. (+353) 1 840 9238<br />
                    E. movingart@mauriceward.com
                 </div>
            </div>
        </div>
    </footer>

    <!--[if lte IE 8]>
      {% include scripts-ie8.html %}
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
