<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header id="header-primary" class="header-primary">
    <div id="logo">
        Maurice Ward
    </div>
     <nav id="nav-primary" class="nav-primary">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Products</li>
            <li>News</li>
            <li>Contacts</li>
        </ul>
    </nav>

    </header>



    <section id="content-primary" class="content-primary">
      {{ content }}
    </section>

    <footer id="footer-primary" class="footer-primary">
        <div id="footer1"><img src="xxx"/></div>
        <div id="footer2">
            Maurice Ward<br />
            Group<br />
            Estd. 1968<br />

            Inspired by Pioneers.<br />
            Run by Independents.<br />
            Managed with Integrity.
        </div>
        <div id="footer3">
            <div class="contact">
                Maurice Ward<br />
                Group<br />
                Estd. 1968<br />

                Inspired by Pioneers.<br />
                Run by Independents.<br />
                Managed with Integrity.
             </div>
            <div class="contact">
                Maurice Ward<br />
                Group<br />
                Estd. 1968<br />

                Inspired by Pioneers.<br />
                Run by Independents.<br />
                Managed with Integrity.
             </div>
            <div class="contact">
                Maurice Ward<br />
                Group<br />
                Estd. 1968<br />

                Inspired by Pioneers.<br />
                Run by Independents.<br />
                Managed with Integrity.
             </div>
        </div>
    </footer>

    <!--[if lte IE 8]>
      {% include scripts-ie8.html %}
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
