@import "flash";
@import "background-opacity";
@import "button-variant";
@import "link-variant";
@import "placeholder";
@import "selection";
@import "text-overflow";

@mixin shadow {
	-webkit-box-shadow: -1px 8px 26px -6px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: -1px 8px 26px -6px rgba(0, 0, 0, 0.5);
	        box-shadow: -1px 8px 26px -6px rgba(0, 0, 0, 0.5);
}

@mixin horizontal-li {
	display: inline;
	padding-right:2%;
}

@mixin copy {
	font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
	line-height: $base-line-height * 1; 
}

@mixin clock {
	
	.clock-d, .clock-ny, .clock-hk {
	    width: 70px;
	    height: 70px;
	    border: 4px solid #222;
	    border-radius: 74px;
	    position: absolute;
	    margin-left:0.5%;
	}

	.clock {
	    width: 60px;
	    height: 60px;
	    border: 0 solid #222;
	    border-radius: 60px;
	    position: absolute;
	    margin:auto;
	    top: 0; bottom: 0; left: 0; right: 0;
	}

	.hour-hand, .minute-hand {
	    background: #222;
	    position: absolute;
	    z-index:1;
	}

	.t12, .t3, .t6, .t9 {
	    z-index:0;
	    background: #222;
	    position: absolute;
	}

	.hour-hand {
	    width: 4px;
	    height: 15px;
	    top: 15px;
	    left: 28px;
	}

	.minute-hand {
	    width: 4px;
	    height: 26px;
	    top: 4px;
	    left: 28px;
	}

	.second-hand {
	    width: 2px;
	    height: 28px;
	    background: $blue;
	    position: absolute;
	    top: 0;
	    left: 29px;
	}

	.t12 {
	    width: 4px;
	    height: 8px;
	    top: 1px;
	    left: 28px;
	}
	.t3 {
	    height: 4px;
	    width: 8px;
	    top: 28px;
	    left: 49px;
	}
	.t6 {
	    width: 4px;
	    height: 8px;
	    bottom: 1px;
	    left: 28px;
	}
	.t9 {
	    height: 4px;
	    width: 8px;
	    top: 28px;
	    left: 1px;
	}
	.pin {
	    width: 6px;
	    height: 6px;
	    background: #111;
	    border-radius: 10px;
	    margin: auto;
	    position: absolute;
	    z-index: 2;
	    top: 0; bottom: 0; left: 0; right: 0;
	}

	.hour-hand,
	.minute-hand,
	.second-hand {
	    -webkit-transform-origin: 50% 100%;
	    -moz-transform-origin: 50% 100%;
	    -o-transform-origin: 50% 100%;
	    -ms-transform-origin: 50% 100%;
	    transform-origin: 50% 100%;
	}
}

@mixin tabs {
	ul.tabs {
	  li {
	    border-bottom: 3px solid white;
	  }
	  a {
	    display:block;
	    padding:20px 20px;
	    background: none;
	    
	  }
	}

	.tabgroup {
	  div {
	    padding:20px;
	    width: 100%;
	    background: #F0D2D1
	  }
	}

	p {
	  margin-top:40px;
	}
}

@mixin language {

		.social-links {
		  color: $blue; 
		  font-family: sans-serif;
		  width: 200px;
		  li {
		    display: inline;
		    list-style-type: none;
		    padding-right: 20px;float:left;
		  }
		}

		#lang-form div {
		  float: left;
		  margin-top:0;
		}

		#lang-form #dropdown-wrapper {
		  width: 100px; 
		  margin-top: 20px;
		  z-index: 1000;
		}

		.dropdownbox { 
		  margin: 0 auto; 
		  cursor: pointer;
		}

		.dropdownbox > p {
		  display: block;
		  user-select: none; 
		  -moz-user-select:none;
		  /* Safari */ 
		  -khtml-user-select: none;}

		ul.menu{
		  margin: 0; 
		  margin-top: 5px !important;
		  padding: 0; 
		  padding-left: 5px;
		  list-style: none; 
		  position: relative; 
		  width: 100px; 
		  overflow: hidden; 
		  height: 0; 
		  margin-left: -32px;
		  -webkit-transition: all 0.3s ease-in; 
		  -moz-transition: all 0.3s ease-in; 
		  -o-transition: all 0.3s ease-in; 
		  transition: all 0.3s ease-in; 
		  /*-moz-transform:scale(0); */ 
		  color: $blue;
		  background: $black; 
		  cursor: pointer; 
		  user-select: none; 
		  -moz-user-select:none; 
		  /* Safari */ 
		  -khtml-user-select: none; 
		}

		ul.menu li { 
		  padding-left: 3px;
		  -webkit-transition: all 0.3s ease-in; 
		  -moz-transition: all 0.3s ease-in; 
		  -o-transition: all 0.3s ease-in; 
		  transition: all 0.3s ease-in; 

		}

		ul.menu li:hover { 
		  padding-left: 10px; 
		  color: white;
		}

		.menu.showMenu { 
		  /*-moz-transform:scale(1);*/ 
		  height: 50px;
		}
}
