/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */


#header-primary {
	@include outer-container;
	background-color: white;
	@include pad(60px 0% 4% 0%);

	#logo {
		@include span-columns(5);
		font-size: $base-font-size * 1.5; 

		div#mark {
			@include span-columns(1 of 5);
		}
		div#wordmark {
			@include span-columns(4 of 5);
		}
	}

	div#nav-wrap {
		@include span-columns(7);

		#nav-primary {
			@include row;
			@include span-columns(9);
			@include nav-ul;
			height: 200px;

			li {
				@include horizontal-li;
				font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px;
			}
		}

		#social {
			@include span-columns(2);
			text-align: center;
			font-size: 14px;
			@include link-blue;

			li {
				@include horizontal-li;
				padding-right:6%;
				
				#toggle_lang {
					font-size: 16px;
				}
			}
		}

		#dropdownS {
			position: absolute;
			@include row;
			@include pad(80px 2% 4% 0);
			display: none;

			.box {
				@include span-columns(2);
				width: 16%;
				@include omega(5n);
				background-color: $black;
				@include pad(10px 2% 4% 10px);
				@include link-blue;
			}
		}

		#dropdownP {
			position: absolute;
			@include row;
			@include pad(80px 2% 4% 0);

			.box {
				@include span-columns(2);
				width: 16%;
				@include omega(5n);
				background-color: $blue;
				@include pad(10px 2% 4% 10px);
				@include link-black;
			}
		}
	}
}


.content-primary {}


/* - Footer -------------------------------------------------------------------------- */

.footer-primary {
	@include outer-container;
	@include pad(3% 0% 4% 0%);
	color: $green;

	#name {
		font-size: 15px;
		line-height: $base-line-height * 0.70; 
	}

	#footer1 {
		@include span-columns(1);
	}

	#footer2 {
		@include span-columns(4);
		h5 {
			padding-top: 4%;
			line-height: $base-line-height * 1; 
			font-weight: normal;
		}
	}

	#footer3 {
		@include span-columns(7);
		color: $blue;
	}

	.contact {
		font-size: $base-font-size * 0.75;
		line-height: $base-line-height * 0.99; 
		@include link-blue;
		@include row;

	
		#c1 {
			@include span-columns(8);
		}
		#c2 {
			@include span-columns(4);
			margin-top: -10px;
			.icon-acc {
			font-size: 24px;
		}

		}
		.c3 {
			@include span-columns(4);
			@include pad(5% 0% 0% 0%);
		}
	}
}


