
/* -------------------------------------------------------- */

section {
	@include outer-container;
}

div#alpha {
	@include span-columns(4);
}

div#beta {
	@include span-columns(8);
}

div#home_slider {
	@include span-columns(10);
	@include shift(1);
	background-color: red;
}

div#clocks {
	@include span-columns(5);
}

div#intro_text {
	@include span-columns(6);
}


/* -------------------------------------------------------- */

.bg-blue {background-color: blue;}
.bg-grey {background-color: silver	;}