html, body {
	height: 100%;
}
/* ------------------------------------------------------ Home -- */

section {
	@include outer-container;
}


section#h1{
	@include pad(3% 0% 4% 0%);
	background-color: white;

	div#slider {
		@include span-columns(10);
		@include shift(1);
		background-color: $lightest-gray;
		height: 500px;
	}
}


section#h2{
	@include pad(3% 0% 7% 0%);
	background-color: white;

	div#clocks {
		
		@include span-columns(4);
		@include shift(1);
		color: $blue;

		li {
			@include horizontal-li;
			text-align:center;
		}
	}

	div#intro_text {
		@include span-columns(6);
	}
}


section#h3{
	@include pad(6% 0% 4% 0%);

	div.wrap {
		@include shift(1);
		@include span-columns(10);
		background-color: $lightest-gray;
	}
	

	div#services1 {
		@include span-columns(2);
		width:23.33333%;
		margin: 0;
		background-color: $lightest-gray;
		height: 100%;
	}

	div#services2 {
		@include span-columns(2);
		width:23.33333%;
		margin: 0;
		background-color: $lightest-gray;
		height: 100%;
	}

	div#services3 {
		@include span-columns(2);
		width:23.33333%;
		margin: 0;
		background-color: $lightest-gray;
		@include link-blue-ul;
	}

	

	div.s_text {
		@include pad(3% 4% 4% 7%);
		color: $blue;
		@include link-blue-ul;

		h6 {
			color: $dark-gray;
		}
	}

	div#services_text {
		@include span-columns(4);
		background-color: white;
		width:30%;
		min-height: 100%;
		h3 {
			color: $green;
			@include pad(10% 10% 20% 10%);
		}
	}
}


section#h4{

	@include pad(3% 0% 4% 0%);
	div.wrap {
		@include shift(1);
		@include span-columns(10);
		background-color: $blue;

	}
	div#issuu_text {
		@include span-columns(4 of 10);
		margin: 0;
		width:40%;

		h3 {
			@include pad(6% 6% 6% 6%);
			color: white;
		}
	}

	div#issuu_embed {
		@include span-columns(6 of 10);
		width:60%;
		margin: 0;
	}
}



/* ------------------------------------------------------ About -- */

section#a1 {
	@include pad(3% 0% 4% 0%);
	background-color: white;

	div#about_text {
		@include span-columns(6);
		@include shift(5);
		@include link-blue-ul;
	}
}


section#a2 {
	@include pad(3% 0% 4% 0%);
	background-color: white;
	
	div#people {
		@include span-columns(10);
		@include shift(1);

		li.block {
		  @include span-columns(4);
		  @include omega(3n);
		  background-color:$blue;
		  color: white;
		  margin-bottom: 30px;
		  p {
		  	@include pad(3% 0% 3% 6%);
		  }
		  @include link-white;
		}
	}
}



/* ------------------------------------------------------ Products -- */

section#p1 {
	@include pad(130px 0% 4% 0%);
	
	div#product1 {
		@include span-columns(7);
		@include shift(1);
		@include omega;

			#fader {
				width: 100%;
				height: 100%;
			}

			#fader img {
				position: relative;
				z-index:0;
				margin: auto; 
			}

	}

	div#product2 {
		@include span-columns(3);
		@include omega;
		@include pad(2% 2% 2% 2%);
		background-color: $blue;
		color: $black;		
		height: 320px;

		h2 {
			@include pad(15% 0% 30% 0%);
		}
	}
}


section#p2 {
	@include pad(0% 0% 5% 0%);
	position: relative;
	z-index: 2;

	div.wrap{
		margin-top: -7.5%;
		@include span-columns(8);
		@include shift(2);
		background-color: white;
	}

	div#product_desc1 {
		@include copy;
		@include pad(30px 2% 30px 5%);
		@include span-columns(5 of 8);
		@include omega;

		.p_block{
			@include pad(3% 5% 4% 0%);
			border-right: 1px dotted $blue;
			
			.secondary {
				@include link-gray-ul;
			}
		}
	}

	div#product_desc2 {
		@include pad(30px 2% 30px 2%);
		@include span-columns(3 of 8);
		color: $blue;
		@include link-blue;
	}
}



/* ------------------------------------------------------ Services -- */

section#s1 {
	@include pad(130px 0% 4% 0%);

	div#service1 {
		@include span-columns(7);
		@include shift(1);
		@include omega;
	}

	div#service2 {
		@include span-columns(3);
		@include omega;
		@include pad(2% 2% 2% 2%);
		background-color: $black;
		color: white;
		height: 320px;

		h2 {
			@include pad(15% 0% 30% 0%);
		}
	}
}


section#s2{
	@include pad(0% 0% 0% 0%);
	

	div.wrap{
		margin-top: -7.5%;
		@include span-columns(8);
		@include shift(2);
		background-color: white;
	}
	div#service_desc1 {
		@include copy;
		@include pad(30px 2% 30px 5%);
		@include span-columns(5 of 8);
		@include omega;

		.sd_block{
			@include pad(3% 5% 4% 0%);
			border-right: 1px dotted $blue;

			.secondary {
				@include link-gray-ul;
			}
		}
	}

	div#service_desc2  {
		@include pad(30px 2% 30px 2%);
		@include span-columns(3 of 8);
		color: $blue;
		@include link-blue-ul;
	}
}


section#s3 {
	div.wrap {
		@include span-columns(8);
		@include shift(2);
		background-color: $blue;

	}

	div#issuu_text_services {
		@include span-columns(3 of 8);
		margin: 0;
		width:40%;
		@include copy;
		color:white;
		@include pad(30px 2% 30px 5%);

	}

	div#issuu_embed_services {
		@include span-columns(5 of 8);
		width:60%;
		margin: 0;
	}
}



section#s4 {
	@include pad(0% 0% 3% 0%);

	div#services_pricing {
		background-color: white;
		@include span-columns(8);
		@include shift(2);
		@include pad(30px 1% 30px 3%);

		#s_tabs_head {
			@include span-columns(6 of 8);
			@include pad(0 0 15px 0%);
			border-bottom: 1px solid $light-gray;
			
			.s_head li {
				@include horizontal-li;
				font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px;
				@include link-gray;

				a:active {
					font-weight: bold;
				}
			}
		}

		#s_tabs_content {
			@include span-columns(6 of 8);
			@include pad(3% 0% 3% 0%);

			#destination {
				@include span-columns(4 of 6);
			}

			#small {
				@include span-columns(1 of 6);
			}

			#large {
				@include span-columns(1 of 6);
			}

			.lead {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 13px;
				padding-bottom: 20px;
				color: $black;

			}
		}
	}
}



/* ------------------------------------------------------ News -- */

#stage {
	margin-top:-11%;	
}

.n_title {
	@include span-columns(7);
	@include shift(5);
}

.n_wrap {
	@include pad(3% 0% 4% 0%);
	@include span-columns(8);
	@include shift(4);

	.n_entry {
		@include row;
		@include span-columns(11);
		margin-left: 5%;
		padding-bottom: 10%;

		.n_img {
			margin-bottom:-10px;
			
			img {
				min-width:100%;
			}
		}
		
		.perma {
			position: absolute;
			left: 35.5%;
			font-size: 50px;
			@include link-blue;
		}
		
		.n_text {
			@include pad(7% 9% 9% 9%);
			background-color: white;
			width: 90%;
			@include copy;
			color: $dark-gray;

			p {
				margin-bottom: 10%;
				&:last-child {
					margin-bottom: 00%;
				}
			}

			.secondary {
				@include link-gray-ul;
			}
		}
}

}


.bg-gray {background-color: $light-gray;}



